.light {
  --body-background-color: #fff;
  --page-background-color: #f0f0f0;
  --text-color: #111;
  --success-color: #009707;
  --error-color: #ec0404;
  --faded-color: #9b9b9b;
}

.dark {
  --body-background-color: #222222;
  --page-background-color: #1c1e22;
  --text-color: #fff;
  --success-color: #00c40a;
  --error-color: #ec0404;
  --faded-color: #707070;
}
